
html {
    border: 1px grey solid;
}

.body-container {
    margin: 0 auto;
    width: 100%;
    clear: both;
    background-image: url("../images/pink_rice.png");
}
.head-1 {
    /* padding-top: .5em; */
    font-size: 36px;
    height: 2em;
    margin: 10px;

}

.pure-u-2-3 {
    background-image: url("../images/image.webp");
    background-size: 1000px;
    opacity: 0.7;
   /* background-image: url("../images/image7.jpg");
    background-position-y: -10px; */
}

.pure-u-1-3 {
    /* background-position-y: 10px; */
    background-size: 225%;
    background-image: url("../images/image2.jpg");
    color: white;

}

.pure-g {
    /* background-color: lightgrey; */
    border: 1px solid gray;
    height: 40em;
    min-height: 600px;

}


.park-results {
    /* width: 600px; */
    font-size: 12px;
    height: 100%;
    background-color: #333;
    color: white;
    border: 1px solid white;
    
}

.checkbox, .radio {
    padding-top: 2em;
    margin: 1em;
    width: 90%;
}

.hide {
    display: none;
}

.sidebar-radial {
    color: white;
}

.pure-form pure-form-stacked {
    padding-left: 5px;
    color: white;

}

.footer-container {
   font-size: 10px;
    height: auto;
    background-size: 100%;
    background-image: url("../images/ocean.jpeg");
    background-position-y: -180px;
    color: white;
    padding-top: -100px;

    
}

.sidebar-image {
    color: white;
    margin: 2em;

}

.footer-image {

    height: auto;
    background-image: url("..//Images/image8.jpg");
    width: 100%;
    /* padding-top: 1em;
    padding-left: 15em; */
}
.txt-railway {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.center-block a {
   margin-bottom: 50px; 
}

.natspark {
    cursor: pointer;
}

p:hover{
    background: white;
}
